body {
    background-color: #1F1F1F;
    color: white;

    padding: 0%;
    margin: 0%;

    font-size: 0%;
    font-family: sans-serif;
}

.main {
    border: solid;
    border-width: 1px;
    border-color: #2B2B2B;
    border-radius: 8px;

    background-color: #181818;

    padding: 30px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}
.main p {
    font-size: 12px;
}
.main h1 {
    font-size: 16px;
    font-weight: bold;
}
.main .GUID {
    background-color: black;

    padding: 2px;

    font-size: 16px;
}
.main button {
    background-color: coral;
    color: white;

    font-size: 14px;
    font-weight: bold;

    padding: 12px;
    margin-top: 6px;

    border: none;
    border-radius: 8px;
}
.main button:hover {
    cursor: pointer;
}

footer {
    background-color: #181818;

    text-align: center;
    font-size: 10px;

    border-top: solid;
    border-width: 1px;
    border-color: #2B2B2B;
    border-radius: 8px;

    padding-top: 16px;
    padding-bottom: 16px;

    width: 100%;

    position: absolute;
    bottom: 0%;
}
footer a {
    color: #73c2fb;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}